<div class="container-audio songs">
    <h2 class="heading">{{heading}}</h2>
    <ul class="songs__list">
        {{#songs}} 
            <div class="songs__part">
                <li class="songs__item">{{name}}</li>
                <div class="songs__option">
                    <button class="btn" id="{{_id}}" onclick="getTheId(this.id)">PLAY</button>
                    <button class="btn" id="{{_id}}" onclick="pushToTracks(this.id)">QUEUE</button>
                    <a class="songs__link btn" target="_blank" href="/music/listen/{{_id}}">VISIT</a>
                </div>
            </div>
        {{/songs}}
    </ul>

    {{>getmore}}
</div>
